server.port=8081
logging.level.org.springframework=DEBUG
spring.codec.max-in-memory-size=3MB

logging.level.reactor.netty.http.client.HttpClient=DEBUG
logging.level.org.springframework.boot.autoconfigure=ERROR

geoapify.base-url=https://api.geoapify.com
geoapify.token=REPLACE_TOKEN

holidayapi.base-url=https://holidayapi.com
holidayapi.token=REPLACE_TOKEN

spring.data.mongodb.uri=mongodb://localhost:27017/delivery-api-demo